/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.quiz-container {
    max-width: 650px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#question {
    font-size: 24px;
    margin-bottom: 20px;
}

#answers {
    list-style: none;
    padding: 0;
    margin: 20px;
}

.answer {
    background-color: #58bb58;
    color:#fff;
    padding: 10px 20px;
   border-radius : 60px;
    cursor: pointer; 
    border: none;
    width: 70%;
}

.answer:hover {
    background-color: #cddbcd;
}

#submit {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#submit:hover {
    background-color: #3e8e41;
}

#result {
    font-size: 18px;
    margin-top: 20px;
}